@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

/* page title */
.services-hero {
  margin-top: 140px;
  /* background-image: url(/src/assets/images/Flower-background.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/src/assets/images/Flower-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* About content */
.about-content {
  padding: 50px 180px 100px 180px;
}

.about-content p {
  color: #e6a498;
  line-height: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.about-content img {
  height: auto;
  box-shadow: rgb(105, 105, 105) 2px 5px 10px 0px;
}

.about-content p {
  padding: 10px;
}

.about-content #about-img {
  padding: 50px;
}

/* why choose me section */

.choose-me {
  padding: 70px;
  margin-bottom: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/images/desk.jpg);
  background-size: cover;
  background-position: center;
}

.choose-me .card {
  background-color: transparent;
  height: 250px;
  border: none;
  border-radius: 11px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.choose-me .card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background: linear-gradient(#fae7e3ea, #ee9c8dea);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px rgb(92, 92, 92);
  padding: 50px;
  cursor: pointer;
  font-family: "dancing script", cursive;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(#212529, #484c50);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  transform: rotateY(180deg);
}

.choose-me h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-family: "dancing script", cursive;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .about-content #about-img {
    padding: 60px;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 40px;
  }

  .choose-me {
    padding: 30px;
    padding-bottom: 40px;
  }

  .flip-card-back {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .about-content #about-img {
    padding: 40px;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 40px;
  }

  .choose-me {
    padding: 30px;
    padding-bottom: 40px;
  }

  .choose-me h1 {
    margin-top: 40px;
  }

  .flip-card-front h2 {
    font-size: 40px;
  }

  .flip-card-back {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .about-content #about-img {
    padding: 40px;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 40px;
  }

  .choose-me {
    padding: 30px;
    padding-bottom: 40px;
  }

  .flip-card-inner {
    transition: transform 0.2s;
  }
}

@media screen and (max-width: 576px) {
  .about-content #about-img {
    padding: 10px;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 20px;
  }

  .about-content p {
    font-size: 20px;
    font-weight: 400;
  }

  .choose-me {
    padding: 20px;
    padding-bottom: 40px;
  }

  .choose-me h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  .about-content #about-img {
    padding: 10px;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 10px;
  }

  .choose-me {
    padding: 10px;
    padding-bottom: 40px;
  }

  .flip-card-front h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 280px) {
  .flip-card-back {
    font-size: 15px;
  }
}
