@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

.about-content {
  padding: 50px 180px 100px 180px;
}


.about-content p {
  color: #e0b9b2;
  line-height: 2rem;
  font-size: 18px;
}

.about-content img {
  height: auto;
  box-shadow: gray 2px 5px 10px 0px;
}

.about-content p {
  padding: 10px;
}

.about-content #about-img {
  padding: 50px;
}

.choose-me {
  padding: 70px;
}

.choose-me h1 {
  text-align: center;
  font-size: 50px;
  color: #e0b9b2;
  font-family: "dancing script", cursive;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
    .about-content #about-img {
        padding: 60px;
        margin-bottom: 20px;
    }

    .about-content {
      padding: 40px;
    }
  
    .choose-me {
      padding: 30px;
      padding-bottom: 40px;
    }

}

@media screen and (max-width: 992px) {
    .about-content #about-img {
        padding: 40px;
        margin-bottom: 20px;
    }

    .about-content {
      padding: 40px;
    }
  
    .choose-me {
      padding: 30px;
      padding-bottom: 40px;
    }

}

@media screen and (max-width: 768px) {
    .about-content #about-img {
        padding: 40px;
        margin-bottom: 20px;
    }

    .about-content {
      padding: 40px;
    }
  
    .choose-me {
      padding: 30px;
      padding-bottom: 40px;
    }

}


@media screen and (max-width: 576px) {
    .about-content #about-img {
        padding: 10px;
        margin-bottom: 20px;
    }

    .about-content {
      padding: 20px;
    }

    .about-content p {
        font-size: 20px;
    }
  
    .choose-me {
      padding: 20px;
      padding-bottom: 40px;
    }

}

@media screen and (max-width: 375px) {

    .about-content #about-img {
        padding: 10px;
        margin-bottom: 20px;
    }

    .about-content {
      padding: 10px;
    }
  
    .choose-me {
      padding: 10px;
      padding-bottom: 40px;
    }
}

.choose-me .card {
  background-color: #e0b9b2;
  border: none;
}

.choose-me .card:hover {
  background: rgb(219, 217, 217);
  color: #6a2a1d;
  cursor: pointer;
}

.choose-me h5 {
  padding: 50px;
  text-align: center;
}
