@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.contact-me {
  padding: 50px;
}

.email {
  background: #fff;
  padding: 20px;
}

.reach {
  background: #6a2a1d;
  color: #fff;
  padding: 20px;
}

.google {
  margin-top: 20px;
}

form {
  padding: 30px;
}

form .btn {
  background-color: #6a2a1d;
  border: none;
}

form .btn:hover {
  background-color: #6a2a1d;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .google {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .google {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .google {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .google {
    overflow: hidden;
  }
}
