@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

/* contact me section */

.contact-me {
  padding: 50px;
}

.email-section {
  background: #fff;
  padding: 20px;
}

.reach {
  color: #fff;
  padding: 20px;
}

.phone a {
  text-decoration: none;
  color: #fff;
}

.phone a:hover {
  text-decoration: underline;
}

.google {
  margin-top: 20px;
}

form {
  padding: 30px;
}

form .btn {
  background-color: #e0b9b2;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

form .btn:hover {
  background-color: #e0a196;
  color: #fff;
}

.reach h6 {
  font-size: 20px;
}

.schedule p {
  font-weight: 500;
}

.schedule span {
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .google {
    overflow: auto;
  }
}

@media screen and (max-width: 992px) {
  .contact-me {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .google {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .google {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .google {
    overflow: hidden;
  }

  form {
    padding: 10px;
  }

  .contact-me {
    padding: 10px;
  }
}
