@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");


.services-hero {
  margin-top: 140px;
  padding: 20px;
  background-color: #e0b9b2;
}


@media screen and (max-width: 992px) {
  .services-hero {
    
  }
}

#services-hero h1 {
  font-family: "dancing script", cursive;
  font-size: 60px;
}

.menu {
  line-height: 25px;
  padding: 60px;
}

#menu-filters {
  margin-bottom: 30px;
}

#menu-filters ul li {
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#menu-filters ul li a {
  padding: 10px 20px;
  font-size: 17px;
  color: #e0b9b2;
  text-decoration: none;
  border-radius: 0px;
  border: 2px solid #e0b9b2;
  cursor: pointer;
}

#menu-filters ul li a:hover {
  background: #e0b9b2;
  color: #fff;
  border: 2px;
}

.menu p {
  color: #e0b9b2;
  font-size: 20px;
  font-weight: 500;
}

.btn:focus {
  background: #6a2a1d;
  border: none;
  box-shadow: none;
}

.menu .first {
  background: #292b2c;
  border: none;
  padding: 5px 10px 5px 10px;
  width: 150px;
  font-size: 15px;
  color: #fff;
  transition: transform .5s ease;
}

.menu .first:hover {
  transform: translateX(5%);
}

@media screen and (max-width: 576px) {
  .menu .first {
    width: 100%;
    padding: 15px;
  }
}

.btn {
  color: white;
}

.menu button i {
  padding-left: 8px;
  margin-left: 10px;
}

.menu .first:hover {
  background: #a13b26;
  color: #fff;
}

#menu-filters .modal-policies li {
    text-transform: none;
}

.menu .third {
    background: #e0b9b2;
}

.menu .third:hover {
    color: white;
    background: #a13b26;
}

.menu-restaurant {
  width: 50%;
  float: left;
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .menu-restaurant {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  

  ul {
    padding: 0;
  }

  .menu {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 280px) {
  .menu {
    padding: 40px 0px;
  }

  .menu-restaurant .menu-title {
    font-size: 14px;
  }

  .menu-restaurant .menu-subtitle {
    font-size: 12px;
  }
}

.menu-restaurant .menu-title {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #292b2c;
  text-decoration: none;
  font-weight: bold;
}

.menu-restaurant .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.menu-restaurant .menu-price {
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  color: #e0b9b2;
}

.menu-restaurant .menu-subtitle {
  display: block;
  float: left;
  font-size: 17px;
  color: rgb(182, 169, 169);
}

.menu-restaurant span.clearfix {
  position: relative;
  display: block;
}

ul {
  text-decoration: none;
}
