.thanks-title {
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.thanks-title h1 {
  color: rgb(0, 0, 0);
}

.thanks-title p {
  font-size: 20px;
}

.card-title {
  text-align: center;
}

.card-title h3 {
  font-size: 25px;
  font-weight: bold;
}

.thanks-title .card {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgb(179, 179, 179);
}

.card-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-inner .socials .insta {
  font-size: 22px;
}

.card-inner .socials .tiktok {
  font-size: 18px;
}

.card-inner .socials .facebook {
  font-size: 39px;
  margin-top: 3px;
}

.card-inner .site-title {
  margin-bottom: 23px;
}

.card-inner .btn {
  background-color: #e0b9b2;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin-bottom: 35px;
}

.card-inner .btn:hover {
  border: none;
  background-color: #df8474;
}

@media screen and (max-width: 768px) {
  .thanks-title p {
    text-align: center;
    padding: 10px 70px;
  }

  .thanks-title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .thanks-title p {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 375px) {
  .thanks-title p {
    padding: 5px 10px;
  }
}
